## **Primitive Data Types in Python**

There are 4 primitive data types in Python, which are String, Integer, Float, and Boolean.

**String Data Types**

When creating a string data type, we have to make them with a quote. As we can see below, a string data type could include quotation marks with either a single (' ') or double (" ") type.

In [90]:
a_double_quote_string_data = "Hello"
another_string_data = 'with a single quote'
with_a_single_quote = "The girl answered her mother by saying, 'I don't want to go alone.'. She appeared to be shivering from the cold."
with_double_quotes = 'Rene Deschartes writes, "I think; therefore I am".'

# print out all the strings above
print(f"The first string -> {a_double_quote_string_data}")
print(f"The second string -> {another_string_data}")
print(f"A string with a single quote -> {with_a_single_quote}")
print(f"A string with double quotes -> {with_double_quotes}")
print(type("a string"))

The first string -> Hello
The second string -> with a single quote
A string with a single quote -> The girl answered her mother by saying, 'I don't want to go alone.'. She appeared to be shivering from the cold.
A string with double quotes -> Rene Deschartes writes, "I think; therefore I am".
<class 'str'>

**Special Use Case of Triple Quotes**

Spanning strings over multiple lines can be done using Python's triple quotes. It can also be used for long comments in code. Special characters like TABs, verbatim, or NEWLINEs can also be used within the triple quotes. Below is an example of using triple quotes stored in a variable. The text itself does not need to include any escape characters to make a new line of the passage, though including one of them is allowed.

In [22]:
with_escape_characters = "This is the first line\nThis is the second line"
with_triple_quotes = """"This course is very well structured and easy to learn. Anyone with 
zero experience of data science, python or ML can learn from this. 
This course makes things so easy that anybody can learn on their own. 
It's helping me a lot. Thanks for creating such a great course."\n\nAyushi Jain | Placed at Microsoft"""

# print out all the strings with triple quotes
print(f"The first example of multiple lines string:\n{with_escape_characters}\n")
print(f"The second example of multiple lines string:\n{with_triple_quotes}")

The first example of multiple lines string:
This is the first line
This is the second line

The second example of multiple lines string:
"This course is very well structured and easy to learn. Anyone with
zero experience of data science, python or ML can learn from this.
This course makes things so easy that anybody can learn on their own.
It's helping me a lot. Thanks for creating such a great course."

Ayushi Jain | Placed at Microsoft

**Substring**

Substrings inside a string can be accessed by using the square brackets that are positionally indexed. Note that the first index is accessed from 0, not 1. The selected characters could be slid by using ':' with the first character expressed on the left side while the last one is placed on the right. Note that the last positional index flags as the end without including the character. Lastly, the last character could be indexed with -1. Here are the examples as follows.

In [26]:
the_variables = "Hello"
the_first_char = the_variables[0]
the_second_char = "Hello"[1]
the_last_char = the_variables[-1]
the_last_three_chars = the_variables[2:]
the_middle_char = the_variables[2:3]

# print out all the substring accessed by its indexes
print(f"The accessed string -> '{the_variables}'")
print(f"The first character -> '{the_first_char}'")
print(f"The second chararacter -> '{the_second_char}'")
print(f"The last character -> '{the_last_char}'")
print(f"The last 3 characters -> '{the_last_three_chars}'")
print(f"The middle character -> '{the_middle_char}'")

The accessed string -> 'Hello'
The first character -> 'H'
The second chararacter -> 'e'
The last character -> 'o'
The last 3 characters -> 'llo'
The middle character -> 'l'

**Operating Strings**

A string in Python could include all characters and be treated as it is. That means a number that is typed as a string could not be arithmetically operated. We will talk about the numerical operation in another section. String-typed variables could be operated in many ways, such as conjugation, splitting, and many more. Note that, adding multiple numbered strings does not result in the mathematical calculation we used to have while splitting operations on a string creates a new data type of 'list'. Here are the possible operations imposed on the strings.

In [55]:
first_variable = "the first string"
second_variable = "the second string"
first_numbers = "123"
second_numbers = "456"

# perform a conjugation to multiple string variables
print("Conjugation operation on multiple strings.")
print("Using '+' ->", first_variable + second_variable)
print("Using ',' ->", first_variable, second_variable)
print("Using f-string ->", f"{first_variable} {second_variable}")
print("Perform addition on numbered strings ->", first_numbers + second_numbers)

# split a string
print("\nSplitting a string")
print(first_variable.split())
print("the data type ->", type(first_variable.split()))

Conjugation operation on multiple strings.
Using '+' -> the first stringthe second string
Using ',' -> the first string the second string
Using f-string -> the first string the second string
Perform addition on numbered strings -> 123456

Splitting a string
['the', 'first', 'string']
the data type -> <class 'list'>

**Integer Data Types**

Integer data types would behave as it is, such as a zero, a whole number, positive or negative, without decimals, and of unlimited length. Note that the leading zeros in non-zero integers are not allowed (e.g. 00123) and 0000 becomes 0. The following are valid integer literals in Python.

In [63]:
zero = 0
zeros = 0000
positive_int = 100
negative_int = -10
a_whole_number = 1234567890
unlimited_length_int = 5000000000000000000000000000000000000000000000000000000

# print out all integers above
print(f"Zero number -> '{zero}' & '{zeros}'")
print(f"Positve number -> '{positive_int}'")
print(f"Negative number -> '{negative_int}'")
print(f"A whole number -> '{a_whole_number}'")
print(f"A really long number -> '{unlimited_length_int}'")
print(type(1))

Zero number -> '0' & '0'
Positve number -> '100'
Negative number -> '-10'
A whole number -> '1234567890'
A really long number -> '5000000000000000000000000000000000000000000000000000000'
<class 'int'>

**Underscore Special Character**

We can use a special underscore character '_' expressed directly between integer variables as a delimiter. This way could be applied in a long number to make the integer-typed number easier to read without affecting any derived functionality.

In [51]:
a_million = 1000000
with_underscore = 1_000_000

# print out the integer special case
print(f"The output without underscore -> {a_million}")
print(f"The output with underscore -> {with_underscore}")

The output without underscore -> 1000000
The output with underscore -> 1000000

**Other Base Number Systems**

The colloquial usage of a number system is for describing decimal-type numbers while, in Python, we can use other base systems, such as binary, octal, and hexadecimal with a special character included. When printing out the other base systems, we automatically get the decimal type as for the readability purpose.

In [52]:
binary = 0b1111
octal = 0o12
hexadecimal = 0x12

# print out other base number systems
print(f"Binary Systems -> {binary}")
print(f"Octal Systems -> {octal}")
print(f"Hexadecimal Systems -> {hexadecimal}")

Binary Systems -> 15
Octal Systems -> 10
Hexadecimal Systems -> 18

**Converting to Integers**

The `int()` function converts other type than integers into integers.

In [73]:
float_data = 3.1459
string_data = '123'

# print out the conversion result
print(f"Float into Integer -> {type(float_data)} into {type(int(float_data))}. The value becomes {int(float_data)}")
print(f"String into Integer -> {type(string_data)} into {type(int(string_data))}. The value becomes {int(string_data)}")

Float into Integer -> <class 'float'> into <class 'int'>. The value becomes 3
String into Integer -> <class 'str'> into <class 'int'>. The value becomes 123

**Float Data Types**

Floating numbers can be positive or negative real numbers with a fractional part denoted by '.' symbol. It can be that of scientific notation 'e' as well. Here are the examples of floating point number expressions. Note that the underscore symbols could be used as well for better readability as it does with integer variables.

In [64]:
positive_float = 1.42
negative_float = -1.42
with_delimiter = 1_000_134_564.3145

# print out all the floats above
print(f"Positive number -> {positive_float}")
print(f"Negative number -> {negative_float}")
print(f"A really long number -> {with_delimiter}")

Positive number -> 1.42
Negative number -> -1.42
A really long number -> 1000134564.3145

**Scientific Numbers**

Scientific notation is used as a short representation to express floats having many digits as stated in the previous section. All numbers applied with this special character would automatically converted into float data type.

In [68]:
a_thousand = 1e3
a_million = 1e6
another_example = 1.23456789e3
infinity = 1e10000

# print out all scientific numbers
print(f"A thousand float-type -> {a_thousand}")
print(f"A million float-type -> {a_million}")
print(f"Float number from scientific-noted number -> {another_example} (1.23456789e3)")
print(f"Infinity -> {infinity} (1e10000)")

A thousand float-type -> 1000.0
A million float-type -> 1000000.0
Float number from scientific-noted number -> 1234.56789 (1.23456789e3)
Infinity -> inf (1e10000)

**Converting to Floats**

The `float()` function converts other types than float into a float. Unlike `int()` function, it has many flexibilities, especially converting a string. For example, a string of float-typed "3.1459" could not be accepted by `int()` function unless it has the base of 10 (e.g. '13', '59', '100').

In [78]:
int_data = 1
string_data = '3'
string_with_floats = '3.1459'
string_with_sci_notation = '3.1459e2'

# print out
print(f"Float into Integer -> {type(int_data)} into {type(float(int_data))}. The value becomes {float(int_data)}")
print(f"String into Integer -> {type(string_data)} into {type(float(string_data))}. The value becomes {float(string_data)}")
print(f"A float-typed string into Integer -> {type(string_with_floats)} into {type(float(string_with_floats))}. The value becomes {float(string_with_floats)}")
print(f"A scientific-noted string into Integer -> {type(string_with_sci_notation)} into {type(float(string_with_sci_notation))}. The value becomes {float(string_with_sci_notation)}")

Float into Integer -> <class 'int'> into <class 'float'>. The value becomes 1.0
String into Integer -> <class 'str'> into <class 'float'>. The value becomes 3.0
A float-typed string into Integer -> <class 'str'> into <class 'float'>. The value becomes 3.1459
A scientific-noted string into Integer -> <class 'str'> into <class 'float'>. The value becomes 314.59

**Arithmetic Operators on Numbers**

The arithmetic operators could be applied either on integers or floats. Note that the division operation from two integers would automatically result in float data type. While interacting with at least one float-typed operand, the result would be in float data type as well.

In [96]:
a = 10
b = 2
c = 0.5

# print out
print(f"The addition of both integers -> {a + b} ({type(a + b)}) and of at least one float -> {a + c} ({type(a + c)})")
print(f"The substraction of both integers -> {a - b} ({type(a - b)}) and of at least one float -> {a - c} ({type(a - c)})")
print(f"The multiplication of both integers -> {a * b} ({type(a * b)}) and of at least one float -> {a * c} ({type(a * c)})")
print(f"The division of both integers (left by right) -> {a / b} ({type(a / b)}) and of at least one float (left by right) -> {a / c} ({type(a / c)})")
print(f"The modulus of both integers (left by right) -> {a % b} ({type(a % b)}) and of at least one float (left by right) -> {a % c} ({type(a % c)})")
print(f"The exponent of both integers (left by right) -> {a ** b} ({type(a ** b)}) and of at least one float (left by right) -> {a ** c} ({type(a ** c)})")
print(f"The floor division of both integers (left by right) -> {a // b} ({type(a // b)}) and of at least one float (left by right) -> {a // c} ({type(a // c)})")

The addition of both integers -> 12 (<class 'int'>) and of at least one float -> 10.5 (<class 'float'>)
The substraction of both integers -> 8 (<class 'int'>) and of at least one float -> 9.5 (<class 'float'>)
The multiplication of both integers -> 20 (<class 'int'>) and of at least one float -> 5.0 (<class 'float'>)
The division of both integers (left by right) -> 5.0 (<class 'float'>) and of at least one float (left by right) -> 20.0 (<class 'float'>)
The modulus of both integers (left by right) -> 0 (<class 'int'>) and of at least one float (left by right) -> 0.0 (<class 'float'>)
The exponent of both integers (left by right) -> 100 (<class 'int'>) and of at least one float (left by right) -> 3.1622776601683795 (<class 'float'>)
The floor division of both integers (left by right) -> 5 (<class 'int'>) and of at least one float (left by right) -> 20.0 (<class 'float'>)

**Boolean Data Types**

This type of data only has two possible values, which are `True` or `False`. Note that this type is going to be used a lot in the programs to test either something is true or false for your program to respond accordingly.

In [97]:
print(True)
print(False)
print(type(True))

True
False
<class 'bool'>